* {

   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
}


#hero {
   height: 100vh;
   width: 100%;
   background-image: url(./hihiiiii.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   transition: background-image 1s ease-out;

}

.head {
   width: 80%;
   display: flex;
   justify-content: space-between;
   padding: 2.5% 3%;
   margin: 0 auto;
   align-items: center;
   animation: drop 1s ease-out 1 forwards;
}



.plays span:nth-child(1),
.plays span:nth-child(3) {
   font-size: 1.8rem;
   padding: 0.3em;
   background-color: #ffd700;
   color: #ff105f;
   border-radius: 50%;
  
}

.plays span:nth-child(3) {
    margin-left: 15px;
}


.plays span:nth-child(2) {
   font-size: 2rem;
   padding: 0.3em;
   background-color: #ff105f;
   color: #ffad06;
   border-radius: 50%;
   margin-left: 15px;
   animation: ripple 1s ease-out infinite forwards;
}


  
  @keyframes ripple {
      0%{
         box-shadow: 0;
      }

      100% {
         box-shadow: 0 0 10px 5px #ff105f;
      }
  }



.convey {
   padding: 3rem 3rem 3.2rem;
   background-color: #1e2a44;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80%;
   max-width: 350px;
   border-radius: 20px;
   box-shadow: 0 0 0 5px #ffd700;
   gap: 50px;
}

.song {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
}




@keyframes drop {
   0% {
      transform: translateY(-50px);
      opacity: 0;
   }

   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

.main {
   animation: pop 1s ease-out 1 forwards;
}


@keyframes pop {
   0% {
      transform: translateY(50px);
      opacity: 0;
   }

   100% {
      transform: translateY(0);
      opacity: 1;
   }
}



.drop {
   font-size: 2rem;
   color: #ffd700;
   font-family: "inter";
   font-weight: bolder;
   line-height: 1;
   transition: .2s ease;
   cursor: pointer;

}

.drop:hover {
   letter-spacing: 3px;
}

.fa-soundcloud {
   color: #ffd700;
   font-size: 3.2rem;
   transition: .2s ease;
   cursor: pointer;
}

.fa-soundcloud:hover {
   color: #ff105f;
}

.main {
   width: 100%;
   margin: 1% 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 70%;
}

.explore {
   color: #ff105f;
   font-family: "dm sans";
   font-size: 5rem;
   font-weight: 600;
   line-height: 1.1;
   text-align: center;

}

.disc {
   font-size: 3rem;
   width: 10rem;
   height: 10rem;
   background: url(./Flux.png);
   background-size: cover;
   border-radius: 55%;
   animation: spin 50s linear infinite forwards;
   animation-play-state: paused;
   position: relative;
   box-shadow: 0 0 5px 10px #ffd700;
}


@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}



.paused {
   animation-play-state: running;
}

.disc::after {
   content: '';
   height: 20px;
   width: 20px;
   border-radius: 30px;
   position: absolute;
   background-color: #ffd700;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

#range {
   appearance: none;
   width: 100%;
   height: 5px;
   border-radius: 10px;
   background: #ffd700;
   position: relative;
   overflow: hidden;
   outline: none;
}


#range::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 1px;
   background-color: #ff105f;
   width: 5px;
   box-shadow: -400px 0 0 400px #ff105f;
}



.bant {
   font-size: 1.5rem;
   font-family: inter;
   font-weight: 500;
   color: #ffd700;
}

.title {
   font-size: 1.6rem;
   color: #ff105f;
   font-weight: 500;
   font-family: "dm sans";
   word-spacing: 5px;
   font-weight: bold;
   line-height: 1.1;
}



.para {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
   width: 100%;
}


.col-flex {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 100%;
}



.finders {
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin-top: 5px;
}

.finders p {
   font-family: inter, sans-serif;
   color: #e0e0e0;
}





@media (min-width:375px) and (max-width:450px) {

   html {
      font-size: 13px;
   }

  #hero {
   display: flex;
   flex-direction: column;
   gap: 8%;
  }  

  .disc{
  width: 10rem;
   height: 10rem;
  }


  .head {
       padding: 7% 5%;
  }

  .convey {
  gap: 55px;
  }

  .para {
   gap: 6vh;
  }


  .plays span:nth-child(3) {
   margin-left: 20px;
  }


  
  .plays span:nth-child(2) {
   margin-left: 20px;
  }

}


 @media (min-width:451px) and (max-width:550px) {

  #hero {
   display: flex;
   flex-direction: column;
   gap: 10%;
  }  


  
  .head {
       padding: 7% 5%;
  }


 }


  @media (min-width:551px) and (max-width:750px) {

  #hero {
   display: flex;
   flex-direction: column;
   gap: 10%;
  }  


  
  .head {
       padding: 7% 5%;
  }


 }


 
  @media (min-width:751px) and (max-width:1000px) {

  #hero {
   display: flex;
   flex-direction: column;
   gap: 8%;
  }  


  
  .head {
       padding: 7% 5% 3%;
  }


 }


 
  @media (min-width:1000px) and (max-width:1399px) {

  #hero {
   display: flex;
   flex-direction: column;
   gap: 8%;
  }  


  
  .head {
       padding: 5% 5% 2%;
  }


 }